.bookingcarticon {
  font-size: var(--text-large);
  cursor: pointer;
  color: var(--light-primary);
  transition: color 0.3s ease;
}

.bookingcarticon:hover {
  opacity: 0.7;
}

:global(.ant-badge-count) {
  background-color: var(--light-primary) !important;
  color: var(--dark-primary) !important;
}
