.accountCard {
  padding: 30px;
  border: none;
  margin-top: 40px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.productItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

:global(.ant-card-head-title) {
  font-family: var(--font-heading);
  font-weight: 500;
  font-size: 2rem;
  color:#8f6c2c;
}

.productAvatar {
  background-color: rgba(243, 243, 241, 0.8);
  padding: 20px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.loginPrompt {
  width: 200px;
  border: none;
  background-color: transparent;
  outline: none;
}

.accountDivider{
  border-top-width: 3px;
}

.itemTitle{
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-heading);
}

.itemPrice {
  font-size: 16px;
  color: red;
}

@media (max-width: 630px) {
  .productItem {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .productAvatar {
    width: 100%;
    height: auto;
  }
}
