.bookingSection {
  padding: 120px 60px !important;
}

.bookingTitle {
  padding-bottom: 60px;
  font-family: var(--font-heading);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 300 !important;
}

.bookingWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 60px;
  margin-top: 60px;
}

.productMain {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  gap: 60px;
  margin-top: 60px;
}

.firstItem {
  grid-column: span 4;
}

.productTitle {
  font-size: 18px;
  color: #8f6c2c;
  font-weight: 600;
}

.productControlsWrapper {
  background-color: #f5e8cfae;
  border-radius: 20px;
  width: 110px;
  padding: 3px 6px;
}

.productControlsText {
  font-size: 18px;
  color: #8f6c2c;
}

Button > .productControlsText {
  border-radius: 50%;
  padding: 12px 10px;
  line-height: 4px;
}

Button > .productControlsText:hover {
  background-color: #fff;
}

.cardDivaider {
  margin: 10px 0;
}

.bookingCard {
  background-color: transparent;
  border: none;
}

:global(.ant-card-head) {
  border-bottom: none !important;
  margin-bottom: 40px !important;
}

:global(.ant-btn:hover) {
  background-color: transparent !important;
}

.deleteIcon {
  font-size: 24px;
}

.contactFormButton {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productAvatar {
  width: 120px !important;
  height: 120px !important;
  object-fit: cover;
}

.productItem {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  gap: 60px;
}

.productPrice {
  color: #8f6c2c;
  font-size: 18px;
  font-weight: 900;
}

.productControls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bookingRemoveButton {
  color: red;
  justify-self: end;
}

.totalPrice {
  color: red;
}

@media (max-width: 1200px) {
  .bookingSection {
    padding: 60px 15px !important;
  }
  .bookingWrapper {
    gap: 40px;
    margin-top: 0;
  }

  .firstItem {
    flex-direction: column-reverse;
    align-items: flex-start;
    grid-column: span 3;
  }

  .productMain {
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .productItem {
    flex-direction: column;
    gap: 20px;
  }

  .productControls {
    margin-top: 12px;
    gap: 40px;
  }

  .productMain {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    align-items: end;
  }

  .firstItem {
    align-items: flex-start;
    grid-column: span 1;
  }

  .productControlsWrapper {
    justify-self: flex-end;
  }

  .contactFormButton {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
  }

  .productTitle {
    font-size: 16px;
  }

  .bookingTitle {
    font-size: 20px !important;
    padding-bottom: 30px;
  }

  .bookingWrapper {
    gap: 20px;
  }
}
