.accountCard{
  margin-top: 60px;
  background-color: transparent;
  border: none;
  border-left: 1px solid rgba(189, 189, 188, 0.8);
  padding-left: 30px;
  border-radius: 0;
}

.changeField {
  max-width: 85%;
}