.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 50px 0;
}

.paginationContainer :global(.ant-pagination-item-link) {
  border: none !important;
  background: transparent !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationContainer :global(.ant-pagination-item) {
  margin: 0 4px;
  border: none;
}
