.cartIcon {
  font-size: var(--text-large);
  cursor: pointer;
  transition: color 0.3s ease;
}

.cartIcon {
  color: var(--light-primary);
  background-color: none;
}

.cartIcon:hover {
  opacity: 0.7;
}
