.user {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userIcon {
  font-size: var(--text-large);

  color: var(--light-primary);
  transition: color 0.3s ease;

}

.userIcon:hover {
    opacity: 0.7;
}

@media (max-width: 480px) {
  .userIcon {
    font-size: var(--text-regular);
  }
}
