.footer {
  width: 100%;
  margin-top: auto;
  background-color: #242124;
  width: 100%;
  position: relative;
  transition: background-color 0.3s ease;
  padding-top: 40px;
}

.bottomBar {
  background-color: rgba(31, 31, 31, 0.03);
  border-top: 1px solid var(--light-primary);
  margin: 0 auto;
  width: 100%;
}

.bottomContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
}

.copyright {
  color: #fff;
  font-size: var(--fs-100);
  margin: 0;
  letter-spacing: 0.5px;
}

@media (max-width: 768px) {
  .footer {
    opacity: 0.9;
  }

  .bottomContent {
    justify-content: center;
    text-align: center;
    gap: 10px;
  }

  .copyright {
    margin-left: 0;
    width: 100%;
  }
}
