.homeCategories {
  font-size: 2.5rem;
  letter-spacing: var(--letter-spacing-medium);
  font-weight: bold;
  margin-bottom: 20px;
  font-family: var(--font-heading);
  color: var(--dark-primary);
}

.homeCategories p {
  display: block;
}

.secondLine {
  margin-left: 1.5rem;
}

.categories {
  width: 100%;
}

.categoryList {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 10px;
}

.homeCategoriesCard {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.featuredCategoriesInner {
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 100%;
}

.featuredCategoriesButton {
  text-transform: uppercase;
  text-align: center;
  left: 25%;
  transform: translateX(-50%);
  position: relative;
}

@media (max-width: 992px) {
  .categories {
    padding: var(--section-padding-mobile) 0;
  }
}
